adf-cursosql/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "adf-cursosql"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"AzureSqlDatabase1\""
		},
		"AzureSqlDatabase2_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"AzureSqlDatabase2\""
		},
		"AzureSqlDatabase3_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"AzureSqlDatabase3\""
		},
		"AzureSqlDatabase4_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"AzureSqlDatabase4\""
		},
		"AzureSqlDatabase5_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"AzureSqlDatabase5\""
		},
		"AzureSqlDatabase6_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"AzureSqlDatabase6\""
		},
		"SqlServer1_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"SqlServer1\""
		},
		"sqldbbaseprueba1_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"sqldbbaseprueba1\""
		},
		"sqldbbaseprueba120230908T2310Z_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"sqldbbaseprueba120230908T2310Z\""
		},
		"sqldbbaseprueba2_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"sqldbbaseprueba2\""
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kb-nombrekv.vault.azure.net/"
		},
		"trigger2_properties_pipeline1_parameters_schema": {
			"type": "string",
			"defaultValue": "aqs"
		},
		"trigger2_properties_pipeline1_parameters_schema2": {
			"type": "string",
			"defaultValue": "etx"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Procesopipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Recupera_tablas",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select distinct tabla_hub from ctrl.integracion_hub where productor='AQS'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {
									"schema": "ctrl",
									"table": "integracion_hub"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Recupera_tablas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Recupera_tablas').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": {
												"value": "@{concat('truncate table hub.',item().tabla_hub)}",
												"type": "Expression"
											},
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "AzureSqlTable2",
											"type": "DatasetReference",
											"parameters": {
												"schema": "hub",
												"table": {
													"value": "@item().tabla_hub",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AzureSqlTable3",
											"type": "DatasetReference",
											"parameters": {
												"tblAQSDestino": {
													"value": "@item().tabla_hub",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable2')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "table",
							"value": {
								"value": "@json('[\n\n    {\n        \"schema\": \"aqs\",    \n        \"schema2\": \"etx\",        \n        \"tabla\":\"vw_cliente\" ,   \n        \"pk_integracion\": \"Codigo\"\n        },\n\n         \n       \n]')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('table')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": "SELECT *\r\nFROM [aqs].[vw_cliente]\r\nWHERE ts_carga >= DATEADD(MINUTE, -10, GETDATE());",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "AzureSqlTable4",
											"type": "DatasetReference",
											"parameters": {
												"schema": "aqs",
												"table": "vw_cliente"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AzureSqlTable5",
											"type": "DatasetReference",
											"parameters": {
												"schema2": {
													"value": "@item().schema2",
													"type": "Expression"
												},
												"table": {
													"value": "@item().tabla",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"schema": {
						"type": "string",
						"defaultValue": "aqs"
					},
					"schema2": {
						"type": "string",
						"defaultValue": "etx"
					}
				},
				"variables": {
					"table": {
						"type": "Array",
						"defaultValue": [
							"LogisticsAddressCountryRegionStaging"
						]
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable4')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable5')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqldbbaseprueba1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schema": {
						"type": "string"
					},
					"table": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "versionnumber",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "createdby",
						"type": "uniqueidentifier"
					},
					{
						"name": "createdbyname",
						"type": "nvarchar"
					},
					{
						"name": "createdbyyominame",
						"type": "nvarchar"
					},
					{
						"name": "createdon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "createdonbehalfby",
						"type": "uniqueidentifier"
					},
					{
						"name": "createdonbehalfbyname",
						"type": "nvarchar"
					},
					{
						"name": "createdonbehalfbyyominame",
						"type": "nvarchar"
					},
					{
						"name": "importsequencenumber",
						"type": "int",
						"precision": 10
					},
					{
						"name": "modifiedby",
						"type": "uniqueidentifier"
					},
					{
						"name": "modifiedbyname",
						"type": "nvarchar"
					},
					{
						"name": "modifiedbyyominame",
						"type": "nvarchar"
					},
					{
						"name": "modifiedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "modifiedonbehalfby",
						"type": "uniqueidentifier"
					},
					{
						"name": "modifiedonbehalfbyname",
						"type": "nvarchar"
					},
					{
						"name": "modifiedonbehalfbyyominame",
						"type": "nvarchar"
					},
					{
						"name": "overriddencreatedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "statecode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "statecodename",
						"type": "nvarchar"
					},
					{
						"name": "statuscode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "statuscodename",
						"type": "nvarchar"
					},
					{
						"name": "timezoneruleversionnumber",
						"type": "int",
						"precision": 10
					},
					{
						"name": "utcconversiontimezonecode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cic_codigomonedaextranjera",
						"type": "nvarchar"
					},
					{
						"name": "cic_codigomonedalocal",
						"type": "nvarchar"
					},
					{
						"name": "cic_fechaerp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "cic_monedaextranjera",
						"type": "uniqueidentifier"
					},
					{
						"name": "cic_monedaextranjeraname",
						"type": "nvarchar"
					},
					{
						"name": "cic_monedalocal",
						"type": "uniqueidentifier"
					},
					{
						"name": "cic_monedalocalname",
						"type": "nvarchar"
					},
					{
						"name": "cic_nombretipocambio",
						"type": "nvarchar"
					},
					{
						"name": "cic_pais",
						"type": "uniqueidentifier"
					},
					{
						"name": "cic_paisname",
						"type": "nvarchar"
					},
					{
						"name": "cic_simbolomonedaextranjera",
						"type": "nvarchar"
					},
					{
						"name": "cic_smbolomonedalocal",
						"type": "nvarchar"
					},
					{
						"name": "cic_sociedadfacturacion",
						"type": "uniqueidentifier"
					},
					{
						"name": "cic_sociedadfacturacionname",
						"type": "nvarchar"
					},
					{
						"name": "cic_sociedadfacturacionyominame",
						"type": "nvarchar"
					},
					{
						"name": "cic_tipocambio",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "cic_tipocambio_base",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "cic_tipodecambioid",
						"type": "uniqueidentifier"
					},
					{
						"name": "cic_valorlocal",
						"type": "bit"
					},
					{
						"name": "cic_valorlocalname",
						"type": "nvarchar"
					},
					{
						"name": "exchangerate",
						"type": "decimal",
						"precision": 38,
						"scale": 10
					},
					{
						"name": "organizationid",
						"type": "uniqueidentifier"
					},
					{
						"name": "transactioncurrencyid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ts_carga",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqldbbaseprueba1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqldbbaseprueba120230908T2310Z",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schema": {
						"type": "string"
					},
					"table": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "versionnumber",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "createdby",
						"type": "uniqueidentifier"
					},
					{
						"name": "createdbyname",
						"type": "nvarchar"
					},
					{
						"name": "createdbyyominame",
						"type": "nvarchar"
					},
					{
						"name": "createdon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "createdonbehalfby",
						"type": "uniqueidentifier"
					},
					{
						"name": "createdonbehalfbyname",
						"type": "nvarchar"
					},
					{
						"name": "createdonbehalfbyyominame",
						"type": "nvarchar"
					},
					{
						"name": "importsequencenumber",
						"type": "int",
						"precision": 10
					},
					{
						"name": "modifiedby",
						"type": "uniqueidentifier"
					},
					{
						"name": "modifiedbyname",
						"type": "nvarchar"
					},
					{
						"name": "modifiedbyyominame",
						"type": "nvarchar"
					},
					{
						"name": "modifiedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "modifiedonbehalfby",
						"type": "uniqueidentifier"
					},
					{
						"name": "modifiedonbehalfbyname",
						"type": "nvarchar"
					},
					{
						"name": "modifiedonbehalfbyyominame",
						"type": "nvarchar"
					},
					{
						"name": "overriddencreatedon",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "statecode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "statecodename",
						"type": "nvarchar"
					},
					{
						"name": "statuscode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "statuscodename",
						"type": "nvarchar"
					},
					{
						"name": "timezoneruleversionnumber",
						"type": "int",
						"precision": 10
					},
					{
						"name": "utcconversiontimezonecode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cic_codigomonedaextranjera",
						"type": "nvarchar"
					},
					{
						"name": "cic_codigomonedalocal",
						"type": "nvarchar"
					},
					{
						"name": "cic_fechaerp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "cic_monedaextranjera",
						"type": "uniqueidentifier"
					},
					{
						"name": "cic_monedaextranjeraname",
						"type": "nvarchar"
					},
					{
						"name": "cic_monedalocal",
						"type": "uniqueidentifier"
					},
					{
						"name": "cic_monedalocalname",
						"type": "nvarchar"
					},
					{
						"name": "cic_nombretipocambio",
						"type": "nvarchar"
					},
					{
						"name": "cic_pais",
						"type": "uniqueidentifier"
					},
					{
						"name": "cic_paisname",
						"type": "nvarchar"
					},
					{
						"name": "cic_simbolomonedaextranjera",
						"type": "nvarchar"
					},
					{
						"name": "cic_smbolomonedalocal",
						"type": "nvarchar"
					},
					{
						"name": "cic_sociedadfacturacion",
						"type": "uniqueidentifier"
					},
					{
						"name": "cic_sociedadfacturacionname",
						"type": "nvarchar"
					},
					{
						"name": "cic_sociedadfacturacionyominame",
						"type": "nvarchar"
					},
					{
						"name": "cic_tipocambio",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "cic_tipocambio_base",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "cic_tipodecambioid",
						"type": "uniqueidentifier"
					},
					{
						"name": "cic_valorlocal",
						"type": "bit"
					},
					{
						"name": "cic_valorlocalname",
						"type": "nvarchar"
					},
					{
						"name": "exchangerate",
						"type": "decimal",
						"precision": 38,
						"scale": 10
					},
					{
						"name": "organizationid",
						"type": "uniqueidentifier"
					},
					{
						"name": "transactioncurrencyid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ts_carga",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqldbbaseprueba120230908T2310Z')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqldbbaseprueba2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"tblAQSDestino": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "hub",
					"table": {
						"value": "@dataset().tblAQSDestino",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqldbbaseprueba2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqldbbaseprueba120230908T2310Z",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schema": {
						"type": "string"
					},
					"table": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Codigo",
						"type": "uniqueidentifier"
					},
					{
						"name": "Nombre",
						"type": "nvarchar"
					},
					{
						"name": "PorcentajeIPC",
						"type": "decimal",
						"precision": 38,
						"scale": 2
					},
					{
						"name": "CodigoDivisa",
						"type": "uniqueidentifier"
					},
					{
						"name": "CodigoSociedadFacturacion",
						"type": "uniqueidentifier"
					},
					{
						"name": "UsuarioUltimaModificacion",
						"type": "uniqueidentifier"
					},
					{
						"name": "FechaUltimaModificacion",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FechaCreacion",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqldbbaseprueba120230908T2310Z')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase6",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schema2": {
						"type": "string"
					},
					"table": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema2",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase6')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase2_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase3_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase4')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase4_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase5')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase5_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase6')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase6_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Conexión hacia el servidor SQL",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqldbbaseprueba1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "sqldb-baseprueba1",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('sqldbbaseprueba1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqldbbaseprueba120230908T2310Z')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "sqldbbaseprueba120230908T2310Z",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('sqldbbaseprueba120230908T2310Z_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqldbbaseprueba2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "sqldbbaseprueba2",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('sqldbbaseprueba2_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline1",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Month",
						"interval": 15,
						"startTime": "2023-09-13T19:53:00",
						"endTime": "2023-09-15T00:50:00",
						"timeZone": "SA Pacific Standard Time",
						"schedule": {
							"monthDays": [
								1
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger2')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline1",
							"type": "PipelineReference"
						},
						"parameters": {
							"schema": "[parameters('trigger2_properties_pipeline1_parameters_schema')]",
							"schema2": "[parameters('trigger2_properties_pipeline1_parameters_schema2')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 15,
						"startTime": "2023-09-15T19:45:00",
						"timeZone": "SA Pacific Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline1')]"
			]
		}
	]
}